<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/StyleSheet1.css" type="text/css" rel="stylesheet" />
    <title>Need Blood</title>

    
</head>
<body class="v" >
    
       
        <header>
            <div class="main">

                <ul>

                    <li class="active"><a href="@Url.Action("Dashboard","Welcome")"> Home </a></li>

                    <li><a href="@Url.Action("About","Welcome")"> About</a></li>
                    <li><a href="@Url.Action("Contact","Welcome")"> Contact </a></li>







                </ul>

            </div>
            <div class="title">
                <h1>Need Blood</h1>
            </div>
            <div class="button">
                <a href="@Url.Action("Login", "Account")" class="btn">Login</a>
                <a href="@Url.Action("RegisterUser", "Account")" class="btn">Register Now</a>

            </div>
        </header>




      

   

</body>
</html>




