@model Blood_Bank_Management.Models.HospInfo
<head>
    <style>
        body {
            background-image: url("/Content/Images/2.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }

        table {
            background-image: url("/Content/Images/2.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .p {
            position: center;
            width: 55%;
            padding-top: 20px;
            padding-left: 40px;
            padding-bottom: 20px;
            margin: 0 auto;
            background-color: white;
            margin-top: 40px;
            border-radius: 25px;
            border: 2px solid yellow;
        }

        .d {
            position: center;
            width: 60%;
            padding-top: 20px;
            padding-left: 40px;
            padding-bottom: 20px;
            margin: 0 auto;
            background-color: white;
            margin-top: 40px;
            border-radius: 25px;
            border: 7px solid black;
        }

        .control-label {
            float: left;
        }

        .form-group {
            position: center;
            margin: 20px;
        }

            .form-group a {
                color: white;
            }
    </style>
</head>

<body>
    <div class="d justify-content-center align-items-center">
        @{
            ViewBag.Title = "CreateAsAdmin";
        }

        <h2>CreateAsAdmin</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>HospInfo</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.HospName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HospName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HospName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RegNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RegNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RegNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.City, new List<SelectListItem>
                            {

                            new SelectListItem{Text="Jadavpur", Value="Jadavpur"},
                             new SelectListItem{Text="Krishnanagar", Value="Krishnanagar"},
                              new SelectListItem{Text="Howrah", Value="Howrah"},
                               new SelectListItem{Text="Barrackpore", Value="Barrackpore"},
                                new SelectListItem{Text="Kalyani", Value="Kalyani"},
                                 new SelectListItem{Text="Murshidabad", Value="Murshidabad"},
                                  new SelectListItem{Text="Bolpur", Value="Bolpur"},
                                   new SelectListItem{Text="Dumdum", Value="Dumdum"},
                                   new SelectListItem{Text="Chuchura", Value="Chuchura"},
                                   new SelectListItem{Text="Serampore", Value="Serampore"},
                                   new SelectListItem{Text="Kanthi", Value="Kanthi"},
                                   new SelectListItem{Text="Digha", Value="Digha"},
                                   new SelectListItem{Text="Burdwan", Value="Burdwan"},
                                   new SelectListItem{Text="Kakdwip", Value="Kakdwip"},
                                   new SelectListItem{Text="Bangaon", Value="Bangaon"},
                                   new SelectListItem{Text="Bishnupur", Value="Bishnupur"},






                             new SelectListItem{Text="Kolkata", Value="Kolkata"},

                            new SelectListItem{Text="Madhyamgram", Value="Madhyamgram"}})
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
       

        </div>
</body>