@model IEnumerable<Blood_Bank_Management.Models.DonorInfo>
<style>
    #c {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    body {
        background-image: url("/Content/Images/2.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .d {
        position: center;
        width: 100%;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
        background-color: white;
        margin-top: 40px;
        border-radius: 25px;
        border: 7px solid black;
    }

    .control-label {
        float: left;
    }

    .form-group {
        position: center;
        margin: 20px;
    }

    a {
        color: white;
    }

    #c td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #c tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #c tr:hover {
        background-color: #ddd;
    }

    #c th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #0D804F;
        color: white;
    }
</style>
<body>
    <div class="d justify-content-center align-items-center">
        @{
            ViewBag.Title = "Index";
        }

        <h2>Index</h2>


        <table class="table" id="c">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BloodType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalHist)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BloodType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicalHist)
                    </td>

                </tr>
            }

        </table>


        </div>
</body>